$gray-dark: #292524;
$medium : #5c5252;
$light: #e2e8f0;
$purple-dark: #5b21b6;

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap');

$fontTitle: 'Lora', serif;
$textFont: 'Libre Franklin', sans-serif;
